<% layout('layouts/boilerplate') %>
<h1>All campgrounds</h1>
<% for(let campground of campgrounds.reverse()){ %>
    <div class="card mb-3 text-light bg-dark">
        <div class="row">
            <div class="col-md-4">
                <div class="ratio ratio-16x9">
                    <img src="<%= campground.images[0].url %>" alt="campgrounds" class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <small class="card-text"><%= campground.location %></small>
                    <a href="campgrounds/<%= campground._id %>" class="btn btn-primary">View campground</a>
                </div>
            </div>
        </div>
    </div>
<% } %>
