<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <img src="<%= campground.image %>" alt="campground" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text text-muted"><%= campground.location %></p>
                <p class="card-text">$ <%= campground.price %></p>
                <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-info">Edit</a>
                <form action="/campgrounds/<%= campground._id %>?_method=DELETE " method="POST" class="d-inline">
                    <button class="btn btn-danger">DELETE</button>
                </form>
            </div>
        </div>
    </div>
</div>